target/
**/*.rs.bk
*.swp
*.swo
*~
.gdbhist
Cargo.lock
cfg/*
!cfg/*.cfg
!cfg/*.keys
.vs/
.gdb_history
replay.bin
fuzz/
perf_data/
*.ods
*.data*
rusty-tags.vi
.console_hist.txt
*.zip
deps.dot
deps.png
chrome_profiler.json
*.dll
